<div class="header-part">
    <h1>Quiz Application</h1>
    <p>New to the Quiz Application, Sign Up!</p>
</div>

<div class="signup-card">
    <div class="card-title">
        <h1>Create Account</h1>
    </div>
    <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <input type="text" name="name" placeholder="Name" formControlName="name">
        <input type="email" name="email" placeholder="Email" formControlName="email">
        <input type="password" name="password" placeholder="Password" formControlName="password">
        <input type="submit" value="Signup">
    </form>
    <!-- <div class="card-terms">
        <input type="checkbox"> <span>I have read and agree to the <a href="">Terms of Service</a></span>
    </div> -->
    <div class="card-terms">
        <span>Already have an account? <a routerLink="/login">Sign In</a></span>
    </div>
</div>